
\.idea/\.name

\.idea/compiler\.xml

\.idea/libraries/Maven__org_apache_commons_commons_csv_1_5\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml

basic-projet\.iml

target/classes/

sample\.csv
